/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  line-height: 1.6;
}

/* Navigation bar styling */
.navbar {
  background-color: #22B14C;
  color: white;
  overflow: hidden;
  font-size: 18px;
  padding: 20px 0;
}

#navbarTitle {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 38px; 
  font-weight: bold;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

#navbarImage {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px; 
  width: 50px; 
  
}

.navbar__1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__item {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

.navbar__links, .navbar_links {
  color: #fff;
  text-decoration: none;
}

.navbar__item:hover{
  background-color: #e0e0e0;
}

.order-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 70px;
}

.order-link:hover {
  background-color: #e0e0e0;
}

/* Events section styling */
.content {
  text-align: center;
  margin: 50px auto; 
  background-color: #ffffff;
  max-width: 800px; 
  padding: 20px; 
}

.content h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #22B14C;
}

.content h2 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #22B14C;
  font-weight: 600; 
}

.content h3 {
  font-size: 23px;
  color: #22B14C;
  font-weight: 600; 
  margin-bottom: 10px;
}

.content h4 {
  font-size: 18px;
  font-weight: 600;
  marign-bottom: 10px;
}

.content p {
  font-family: 'Georgia', serif;
  margin-bottom: 10px;
  font-size: 17px;
}

/* Footer section styling */
.footer__container {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer__links {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.footer__links:hover {
  color: #ddd;
}

.footer__link--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link--items {
  margin-bottom: 16px;
}

.footer__link--items h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.social__media {
  margin-top: 20px;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.website__rights {
  font-size: 14px;
}

.wrapper{
  padding: 30px 50px;
  min-height: 100vh;
}

/* Reservation Styles */
.reservation{
  text-align: center;
  padding: 40px 0;
  margin: 20px;
}

/* Login Styles */
form{
  width: 50%;
}
.form__container{
  display: grid;
  place-items: center;
}
button{
  padding: 0px;
  line-height: 25px;
}
input, button, label{
  display: grid;
  height: 30px;
  margin: 15px 0;
  width: 100%;
}
select{
  height: 30px;
  margin: 10px 0;
  width: 100%;
}

/* Menu Styles */
.Lunch{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.Breakfast{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.Item-Category{
    font-size: 55px;
    margin-bottom: 50px;
}
.Drinks{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 10px
}

/* Order form styling */
.Order {
  text-align: center;
  margin: 50px auto;
  background-color: #ffffff;
  max-width: 800px;
  padding: 20px;
}

.Order h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #22B14C;
}

.Order input[type="text"], .Order input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.Order input[type="submit"] {
  background-color: #22B14C;
  color: white;
  padding: 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0px;
  line-height: 25px;
}

.Order input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

form {
  width: 50%; 
  margin: auto; 
}

.order-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}